
/*input:enabled
{
   background-color: green;
}
input:disabled
{
    background-color: red;
}
input:focus
{ background-color: aqua;
  color: pink; 
 }*/
  input:valid
  {
     color: orange;
  } 
  input:invalid
  {
      color: purple;
  }