
 /*h1:first-child{
    color: aqua;
}
 h1:last-child{
    color: red;
 }*/

   /*target every even h1 tag*/
 h1:nth-child(2n){
    color: pink;
 }
  /* target every odd h1 tag
  h1:nth-child(2n-1){
    color: red;
  }*/
   h1:nth-child(2n+3){
     color: black;
   }
    h1:nth-child(2n+3){ 
        background-color: aqua;
    }
    h1:nth-child(3n){
        color: green;
    }